.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px 8px 22px;
  cursor: pointer;
  line-height: 130%;
  max-height: 42px;
}

.list-item:hover .checkbox {
  border-color: var(--border-gray-hover);
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 3px;
}

.checkbox {
  width: 23px;
  height: 23px;
  border: 1px solid var(--border-gray);
  border-radius: 6px;
  background-color: var(--background-light);
  display: inline-block;
  position: relative;
  cursor: pointer;

  &:hover {
    border-color: var(--border-gray-hover);
  }
}

.checkbox-wrapper:active .checkbox {
  box-shadow: 0 0 0 3px rgba(36, 105, 246, 0.1);
}

.list-item:active .checkbox {
  box-shadow: 0 0 0 3px rgba(36, 105, 246, 0.1);
}

.list-item input:checked + .checkbox {
  background-color: var(--checkbox-background-blue-selected);
  border-color: var(--checkbox-background-blue-selected);
}

.list-item:hover input:checked + .checkbox {
  background-color: var(--checkbox-background-blue-selected-hover);
  border-color: var(--checkbox-background-blue-selected-hover);
}
